{% extends 'base.html' %}

{% block content %}
    <!-- {% include 'partials/_messages.html' %} -->

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete Income</li>
        </ol>
    </nav>
    {% include 'partials/_messages.html' %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <h1 for="">Are You sure You want to delete this Income</h1>
    <table class="table table-stripped table-hover text-center mt-4">
        <thead>
            <tr>
                <th>Amount (CURRENCY)</th>
                <th>Source</th>
                <th>Description</th>
                <th>Date</th>
                
                
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{income.amount}}</td>
                <td>{{income.source}}</td>
                <td>{{income.description}}</td>
                <td>{{income.date|date:'Y-m-d'}}</td>
                
                <!-- <td>Delete</td> -->
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <!-- <td>Delete</td> -->
            </tr>
        </tbody>
    </table>
    
                
                <p></p>
                <a href="{% url 'income' %}" class="btn btn-primary btn-primary-sm mt-2">Back</a>
                <input type="submit" value="Yes" class="btn btn-danger btn-danger-sm mt-2">
            </form>
        </div>
    </div>

{% endblock content %}
