.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.showPasswordToggle{
  cursor: pointer;
  transition: all;
  
  padding: 7px 15px;
}

.showPasswordToggle:hover {
  transform: scale(1.2,1.2);
}

.lowercase{
  text-transform: lowercase;

}