@media only screen and (max-width:767px) {
    .toggle-button{
        display: block;
        
    }
    #sidebarMenu{
        display: block;
        position: fixed;
        top:3rem;
    }
}
@media screen and (min-width:768px) {
    .toggle-button{
        display: none;
    }
}
.toggle-button{

    cursor: pointer;
}