{% extends 'base.html' %}

{% block content %}
{% include 'partials/_messages.html' %}
<h1>Expenses List</h1>

<ul class="list-group">

    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>
    <li class="list-group-item">Hello</li>

</ul>
{% endblock content %}