{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb d-flex flex-column" >
    <span class="breadcrumb mt-2 d-flex justify-content-between mt-2">
        <h1 class="mt-2 mb-2">Expenses List</h1>
        <!-- <li class="breadcrumb-item">Expenses</li> -->
       
    </span>
</nav>

<div class="container-lg ">
    {% include 'partials/_messages.html' %}

    <div class="row">
        <div class="col-md-2 col-2">
            <a href="" class="btn btn-outline-dark">Get PDF</a>
        </div>
        <div class="col-md-2 col-2">
            <a href="" class="btn btn-outline-dark">Get xls</a> 
        </div>
        <div class="col-md-2 col-2" class="btn btn-outline-dark">
            <a href="{% url 'exp-export-csv' %}" class="btn btn-outline-dark">Get CSV</a>
        </div>
        <div class="col-md-4 col-4">
            <div class="form-group">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Search"
                    id="searchField"
                >
            </div>
        </div>
        <div class="col-md-2 col-2 text-center">
            <a href="{% url 'add-expenses' %}" class="btn btn-success d-flex align-items-center px-2">Add Expenses</a>
        </div>
    </div>

    {% if expenses.count %}
    <div class="app-table">
        <table class="table table-stripped table-hover text-center">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Edit / Delete</th>
                    
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                {% for expense in page_obj %}
                <tr>
                    <td>{{expense.amount}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.date|date:'Y-m-d'}}</td>
                    <td class="mx-2">
                        <a class="btn btn-outline-success px-4 " href="{% url 'edit-expenses' expense.id %}">Edit</a>    
                        <a class="btn btn-outline-danger px-3 " href="{% url 'delete-expenses' expense.id %}">Delete</a>
                    </td>
                    <!-- <td>Delete</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="noElement mt-2">No Elements Found</div>
    <div class="table-output mt-2">
        <table class="table table-stripped table-hover text-center">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>  
                    <th>Edit/Delete</th>  
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody class="table-body">
                   
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <div class="row">
            <div class="col-md-3">
                Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3 float-right">
                <ul class="pagination align-right float-right mr-auto">
                    
                    {% if page_obj.has_previous %}
                        <li {% if page_obj.number == "1" %} class="page-item active" {% endif %}>
                            <a class="page-link" href="?page=1">&laquo; 1</a>
                        </li>
                        <li class="page-item"> 
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" href="" >&laquo; 1</a>
                        </li>
                        <li class="page-item disabled "> 
                            <a class="page-link disabled " href="">Previous</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item"> 
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"> 
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"> 
                            <a class="page-link disabled " href="">Next</a>
                        </li>
                        <li class="page-item disabled"> 
                            <a class="page-link disabled " href="">{{ page_obj.paginator.num_pages}} &raquo;</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
        
    </div>   
    {% else %}
    <div class="card">
        <div class="card-body">
            <h2><div class="mt-2">No Expenses to show</div></h2>
            <h5><p>Add from below button</p></h5>
            <a href="{% url 'add-expenses' %}" class="btn btn-success btn-success-sm">Add Expense</a>
        </div>
    </div>
    {% endif %}

</div>

<script src="{% static 'js/searchExpenses.js' %}">
</script>
{% endblock content %}