{% extends 'base.html' %}

{% block content %}
{% include 'partials/_messages.html' %}
<nav aria-label="breadcrumb d-flex flex-column" >
    <span class="breadcrumb mt-2 d-flex justify-content-between mt-2">
        <h1 class="mt-2 mb-2">Expenses List</h1>
        <!-- <li class="breadcrumb-item">Expenses</li> -->
        <a href="{% url 'add-expenses' %}" class="btn btn-success d-flex align-items-center">Add Expenses</a>
    </span>
</nav>

<div class="container-lg ">
    {% if expenses.count %}
    <table class="table table-stripped table-hover text-center">
        <thead>
            <tr>
                <th>Amount (CURRENCY)</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
                <th>Edit / Delete</th>
                
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            {% for expense in page_obj %}
            <tr>
                <td>{{expense.amount}}</td>
                <td>{{expense.category}}</td>
                <td>{{expense.description}}</td>
                <td>{{expense.date}}</td>
                <td>
                    <a class="px-1" href="{% url 'edit-expenses' expense.id %}">Edit</a>    
                    <a class="px-1" href="{% url 'delete-expenses' expense.id %}">Delete</a>
                </td>
                <!-- <td>Delete</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination-container">
        <div class="">
          Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
        </div>
        <ul class="pagination align-right float-right mr-auto">
          {% if page_obj.has_previous %}
          <li {% if page_obj.number == "1" %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
          <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
    
          {% if page_obj.has_next %}
          <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
          {% endif %}
    
    
          </ul>
        
      </div>   


    {% endif %}

</div>
{% endblock content %}