{% extends 'base_auth.html' %}
{% load static %}
{% block content %}


<div class="row w-100">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
        <div class="card">
            <div class="card-body"> 
                <div class="card-title">
                    <h4>Request reset password link</h4>
                </div>   
                <form action="{% url 'request-password' %}" method="post" class="mt-5">
                    {% csrf_token %}
                    {% include "partials/_messages.html" %}

                        <div class="form-group form-floating mt-2">
                            <input 
                                type="text" 
                                name="email" 
                                placeholder="email"
                                id="emailField" 
                                class="form-control form-control-sm lowercase"
                                value = "{{values.email}}"
                                required
                            />
                            <label for="username">Enter Email</label>
                        </div>

                        <input type="submit" value="Request" class="btn btn-block btn-primary submit-button mt-4"/> 
                </form>
                <div class="mt-3"><a href="{% url 'login' %}"><span class="">Login to your account</span></a></div>
                <div class="mt-3">Don't have account? <a href="{% url 'register' %}"><span class="">Register</span></a></div>
            </div>    
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- <script src="{% static 'js/register.js' %}"></script> -->
{% endblock content %}