{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb d-flex flex-column" >
    <span class="breadcrumb mt-2 d-flex justify-content-between mt-2">
        <div class="row">
            <div class="col-md-2">
                <!-- <a href="{% url 'add-income' %}" class="btn btn-success d-flex align-items-center px-4">Add Income</a> -->
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2 text-center">
                <!-- <a href="{% url 'add-expenses' %}" class="btn btn-success d-flex align-items-center px-4">Add Expenses</a> -->
            </div>
        </div>
       
    </span>
</nav>
<div class="row">
    <div class="col-md-2 col-2">
        <a href="{% url 'expenses' %}" class="btn btn-outline-dark d-flex align-items-center px-4">View Expenses</a>
    </div>
    <div class="col-md-2 col-2">
        <a href="{% url 'add-expenses' %}" class="btn btn-outline-dark d-flex align-items-center px-4">Add Expenses</a>
    </div>
    <div class="col-md-1 col-1"></div>
    <div class="col-md-2 col-2">
        <a href="{% url 'summary-pdf' %}" class="btn btn-outline-dark d-flex align-items-center px-4">Download Summary</a>
    </div>
    <div class="col-md-1 col-1"></div>
    <div class="col-md-2 col-2">
        <a href="{% url 'income' %}" class="btn btn-outline-dark d-flex align-items-center px-4">View Income</a>
    </div>
    <div class="col-md-2 col-2 text-center">
        <a href="{% url 'add-income' %}" class="btn btn-outline-dark d-flex align-items-center px-4">Add Income</a>
    </div>
</div>
<div class="card" style="height: 100%;width: 100%;">
    <div class="card-body">
        {% include 'partials/_messages.html' %}
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Last 6 Months
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <figure>
                            <blockquote class="blockquote">
                              <p class="mb-0">
                                <div class="row">
                                    <div class="col-md-6 col-6 col-lg-6"><cite title="Source Title">Expense - {{ last_six_month_expense }}</cite></div>
                                    <div class="col-md-6 col-6 col-lg-6"><cite title="Source Title">Income - {{ last_six_month_income }}</cite></div>
                                </div>
                              </p>
                            
                            </blockquote>
                            <!-- <figcaption class="blockquote-footer">
                              Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption> -->
                          </figure>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Last 1 Month
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                        <figure>
                            <blockquote class="blockquote">
                              <p class="mb-0">
                                <div class="row">
                                    <div class="col-md-6 col-6 col-lg-6"><cite title="Source Title">Expense - {{ last_one_month_expense }}</cite></div>
                                    <div class="col-md-6 col-6 col-lg-6"><cite title="Source Title">Income - {{ last_one_month_income }}</cite></div>
                                </div>
                              </p>
                            
                            </blockquote>
                            <!-- <figcaption class="blockquote-footer">
                              Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption> -->
                          </figure>
                    </div>
                  </div>
                </div>
        </div>
        <figure>
            <blockquote class="blockquote">
              <p class="mb-0">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-12">Below Chart Shows stats of <cite title="Source Title">Last 6 months</cite></div>
                </div>
              </p>
            
            </blockquote>
            <!-- <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption> -->
          </figure>
        

        
        <div class="row">
            <div class="col-6 col-sm-12 col-md-6" style="height: 50%;width: 50%;">
                <div class="card">
                    <div class="card-body">
                        <canvas id="ExpenseChart" width="50" height="45"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-12 col-md-6" style="height: 50%;width: 50%;">
                <div class="card">
                    <div class="card-body">
                        <canvas id="IncomeChart" width="50" height="45"></canvas>
                    </div>
                </div> 
            </div>
        </div>        
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}